# Assignment 3 Functions

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [ ]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        if b < a:
            return b
        else:
            return a
    else:
        if a < b:
            return b
        else:
            return a

In [ ]:
# Check
lesser_of_two_evens(2,4)
def lesser_of_two_evens(a,b):
    if(a%2 and b%2)!=0:
      if b>a:
        print(b)
      if a>b:
        print(a)

    elif(a%2 and b%2)==0:
      if a<b:
        print(a)
      else:
        print(b)

2

In [ ]:
# Check
lesser_of_two_evens(2,5)
def lesser_of_two_evens(a,b):
    if(a%2 and b%2)!=0:
      if b<a:
        return(a)
      if a>b:
        return(b)

    elif(a%2 and b%2)==0:
      if a<b:
        print(b)
      else:
        print(a)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [ ]:
def animal_crackers(text):
    word_arr = text.split()
    if word_arr[0][0].lower() == word_arr[1][0].lower():
        return True
    else:
        return False

#     you can also run this as a one liner :
#   return word_arr[0][0].lower() == word_arr[1][0].lower()

In [ ]:
# Check
animal_crackers('Levelheaded Llama')
def animal_crackers(text):
    word_arr = text.split()
    if word_arr[0][0].lower() == word_arr[1][0].lower():
        print ('True')
    else:
        print ('False')

#     you can also run this as a one liner :
#   return word_arr[0][0].lower() == word_arr[1][0].lower()

True

In [ ]:
# Check
animal_crackers('Crazy Kangaroo')
def animal_crackers(text):
    word_arr = text.split()
    if word_arr[0][0].lower() == word_arr[1][0].lower():
        return True
    else:
        return False

#     you can also run this as a one liner :
#   return word_arr[0][0].lower() == word_arr[1][0].lower()

False

**Question 4
Use a list comprehension to create a list of squared numbers (n*n). The function receives the variables start and end, and returns a list of squares of consecutive numbers between start and end inclusively. For example, squares(2, 3) should return [4, 9]**

In [ ]:
def squares(start, end):
    return # list comphrension here

In [ ]:
print(squares(2, 3)) # Should be [4, 9]
print(squares(1, 5)) # Should be [1, 4, 9, 16, 25]
print(squares(0, 10)) # Should be [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [ ]:
def makes_twenty(n1,n2):
    if n1 + n2 == 20:
        return True
    else:
        return n1 == 20 or n2 == 20

#     also written with or statement
#       return (n1 + n2) == 20 or n1 == 20 or n2 == 20

In [ ]:
# Check
makes_twenty(20,10)
def makes_twenty(n1,n2):
    if n1 + n2 == 20:
        return True
    else:
        return n1 == 20 or n2 == 20

#     also written with or statement
#       return (n1 + n2) == 20 or n1 == 20 or n2 == 20

In [ ]:
# Check
makes_twenty(2,3)
def makes_twenty(n1,n2):
    if n1 + n2 == 20:
        return True
    else:
        return n1 == 20 or n2 == 20

#     also written with or statement
#       return (n1 + n2) == 20 or n1 == 20 or n2 == 20

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [ ]:
def old_macdonald(name):
  first_split = name[:3]
# splits the name into indexes
  remaining_split = name[3:]
  return first_split.capitalize() + remaining_split.capitalize()

In [ ]:
# Check
old_macdonald('macdonald')
def old_macdonald(name):
  first_split = name[:3]
# splits the name into indexes
  remaining_split = name[3:]
  return first_split.capitalize() + remaining_split.capitalize()

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [ ]:
def master_yoda(text):
    word_arr = text.split()
#     splits the words to work with them individually
    result = word_arr[::-1]
#     reverses the order of the letters inside of the words
    return ' '.join(result)
#   returns the array into a string of words separated by a space

In [ ]:
# Check
master_yoda('I am home')
def master_yoda(text):
    word_arr = text.split()
#     splits the words to work with them individually
    result = word_arr[::-1]
#     reverses the order of the letters inside of the words
    return ' '.join(result)
#   returns the array into a string of words separated by a space

In [ ]:
# Check
master_yoda('We are ready')
def master_yoda(text):
    word_arr = text.split()
#     splits the words to work with them individually
    result = word_arr[::-1]
#     reverses the order of the letters inside of the words
    return ' '.join(result)
#   returns the array into a string of words separated by a space

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [ ]:
def almost_there(n):
    return abs(100 - n ) <= 10 or abs(200 - n) <= 10

In [ ]:
# Check
almost_there(104)
def almost_there(n):
    return abs(100 - n ) <= 10 or abs(200 - n) <= 10

In [ ]:
# Check
almost_there(150)
def almost_there(n):
    return abs(100 - n ) <= 10 or abs(200 - n) <= 10

In [ ]:
# Check
almost_there(209)
def almost_there(n):
    return abs(100 - n ) <= 10 or abs(200 - n) <= 10

**The highlight_word function changes the given word in a sentence to its upper-case version. For example, highlight_word("Have a nice day", "nice") returns "Have a NICE day". Can you write this function in just one line?**

In [ ]:
def highlight_word(sentence, word):
    return(sentence.replace(word,word.upper()))

In [ ]:
def highlight_word(sentence, word):
    return(sentence.replace(word,word.upper()))

print(highlight_word("Have a nice day", "nice"))
# Have a NICE day
print(highlight_word("Shhh, don't be so loud!", "loud"))
#Shhh, don't be so LOUD!
print(highlight_word("Automating with Python is fun", "fun"))
#Automating with Python is FUN

Have a NICE day
Shhh, don't be so LOUD!
Automating with Python is FUN

**Complete the code to iterate through the keys and values of the car_prices dictionary, printing out some information about each one**

In [ ]:
def car_listing(car_prices):
  result = ""
  for cars in car_prices:
    result += "{} costs {} dollars".format(cars, car_prices[cars]) + "\n"
  return result
print(car_listing({"Kia Soul":19000, "Lamborghini Diablo":55000, "Ford Fiesta":13000, "Toyota Prius":24000}))

Kia Soul costs 19000 dollars
Lamborghini Diablo costs 55000 dollars
Ford Fiesta costs 13000 dollars
Toyota Prius costs 24000 dollars

# LEVEL 2 PROBLEMS

#### FIND 33:

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [ ]:
def has_33(nums):
 for i in range(0,len(nums)-1):
      if nums[i:i+2] == [3,3]:
          return True
      else:
        return False

In [ ]:
# Check
has_33([1, 3, 3])
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i:i+2] == [3,3]:
          return True
    else:
        return False

In [ ]:
# Check
has_33([1, 3, 1, 3])
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i:i+2] == [3,3]:
          return True
    else:
        return False

In [ ]:
# Check
has_33([3, 1, 3])
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i:i+2] == [3,3]:
          return True
    else:
        return False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [ ]:
def paper_doll(text):
    result = ''
    for char in text:
      result += char * 3
    return result

In [ ]:
# Check
paper_doll('Hello')
def paper_doll(text):
    result = ''
    for char in text:
      result += char * 3
    return result

In [ ]:
# Check
paper_doll('Mississippi')
def paper_doll(text):
    result = ''
    for char in text:
      result += char * 3
    return result

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [ ]:
def blackjack(a,b,c):
    if sum((a,b,c)) <= 21:
       return sum((a,b,c))
    elif sum((a,b,c)) <=31 and 11 in (a,b,c):
       return sum((a,b,c)) - 10
    else:
       return 'BUST'

In [ ]:
# Check
blackjack(5,6,7)
def blackjack(a,b,c):
    if sum((a,b,c)) <= 21:
       return sum((a,b,c))
    elif sum((a,b,c)) <=31 and 11 in (a,b,c):
       return sum((a,b,c)) - 10
    else:
       return 'BUST'

In [ ]:
# Check
blackjack(9,9,9)
def blackjack(a,b,c):
    if sum((a,b,c)) <= 21:
       return sum((a,b,c))
    elif sum((a,b,c)) <=31 and 11 in (a,b,c):
       return sum((a,b,c)) - 10
    else:
       return 'BUST'

In [ ]:
# Check
blackjack(9,9,11)
def blackjack(a,b,c):
    if sum((a,b,c)) <= 21:
       return sum((a,b,c))
    elif sum((a,b,c)) <=31 and 11 in (a,b,c):
       return sum((a,b,c)) - 10
    else:
       return 'BUST'

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [ ]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
      while add:
       if num != 6:
         total += num
         break
       else:
         add = False
      while not add:
          if num != 9:
            break
      else:
         add = True
         break
    return total

In [ ]:
# Check
summer_69([1, 3, 5])
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
      while add:
       if num != 6:
         total += num
         break
       else:
         add = False
      while not add:
          if num != 9:
            break
      else:
         add = True
         break
    return total

In [ ]:
# Check
summer_69([4, 5, 6, 7, 8, 9])
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
      while add:
       if num != 6:
         total += num
         break
       else:
         add = False
      while not add:
          if num != 9:
            break
      else:
         add = True
         break
    return total

In [ ]:
# Check
summer_69([2, 1, 6, 9, 11])
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
      while add:
       if num != 6:
         total += num
         break
       else:
         add = False
      while not add:
          if num != 9:
            break
      else:
         add = True
         break
    return total

**Taylor and Rory are hosting a party. They sent out invitations, and each one collected responses into dictionaries, with names of their friends and how many guests each friend is bringing. Each dictionary is a partial list, but Rory's list has more current information about the number of guests. Fill in the blanks to combine both dictionaries into one, with each friend listed only once, and the number of guests from Rory's dictionary taking precedence, if a name is included in both dictionaries. Then print the resulting dictionary.**

In [ ]:
def combine_guests(guests1, guests2):
  # Combine both dictionaries into one, with each key listed
  # only once, and the value from guests1 taking precedence

  guests2.update (guests1)
  return guests2

Rorys_guests = { "Adam":2, "Brenda":3, "David":1, "Jose":3, "Charlotte":2, "Terry":1, "Robert":4}
Taylors_guests = { "David":4, "Nancy":1, "Robert":2, "Adam":1, "Samantha":3, "Chris":5}

print(combine_guests(Rorys_guests, Taylors_guests))
# shuld give {'David': 1, 'Nancy': 1, 'Robert': 4, 'Adam': 2, 'Samantha': 3, 'Chris': 5, 'Brenda': 3, 'Jose': 3, 'Charlotte': 2, 'Terry': 1}

{'David': 1, 'Nancy': 1, 'Robert': 4, 'Adam': 2, 'Samantha': 3, 'Chris': 5, 'Brenda': 3, 'Jose': 3, 'Charlotte': 2, 'Terry': 1}

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [ ]:
def spy_game(nums):
    code = [0,0,7,'x']
    for num in nums:
       if num == code[0]:
         code.pop(0)
    return len(code) == 1

In [ ]:
# Check
spy_game([1,2,4,0,0,7,5])
def spy_game(nums):
    code = [0,0,7,'x']
    for num in nums:
       if num == code[0]:
         code.pop(0)
    return len(code) == 1

In [ ]:
# Check
spy_game([1,0,2,4,0,5,7])
def spy_game(nums):
    code = [0,0,7,'x']
    for num in nums:
       if num == code[0]:
         code.pop(0)
    return len(code) == 1

In [ ]:
# Check
spy_game([1,7,2,0,4,5,0])
def spy_game(nums):
    code = [0,0,7,'x']
    for num in nums:
       if num == code[0]:
         code.pop(0)
    return len(code) == 1

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(num):
    primes = [2]
    x = 3
    if num < 2:
       # for the case of num = 0 or 1
       return 0
    while x <= num:
      for y in range(3,x,2):
       # test all odd factors up to x-1
             if x%y == 0:
                x += 2

In [ ]:
# Check
count_primes(100)
def count_primes(num):
    primes = [2]
    x = 3
    if num < 2:
       # for the case of num = 0 or 1
       return 0
    while x <= num:
      for y in range(3,x,2):
       # test all odd factors up to x-1
             if x%y == 0:
                x += 2

KeyboardInterrupt: ignored

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [ ]:
print_big('a')

  *
 * *
*****
*   *
*   *

**The format_address function separates out parts of the address string into new strings: house_number and street_name, and returns: "house number X on street named Y". The format of the input string is: numeric house number, followed by the street name which may contain numbers, but never by themselves, and could be several words long. For example, "123 Main Street", "1001 1st Ave", or "55 North Center Drive". Fill in the gaps to complete this function.**

In [ ]:
def format_address(address_string):
  # Declare variables

  # Separate the address string into parts

  # Traverse through the address parts

    # Determine if the address part is the
    # house number or part of the street name
  # Does anything else need to be done
  # before returning the result?

  # Return the formatted string



  # Declare variables
  house_number=' '
  street_name=" "

  # Separate the address string into parts
  x=address_string.split(" ")
  # Traverse through the address parts
  for y in x:
    if(y.isdigit()):
      house_number=y
    else:
      street_name+=y
      street_name+=' '
    # Determine if the address part is the
    # house number or part of the street name
 # Does anything else need to be done
  # before returning the result?

  # Return the formatted string
    return "house number {} on street named {}".format(house_number,street_name)

print(format_address("123 Main Street"))
# Should print: "house number 123 on street named Main Street"

house number 123 on street named

In [ ]:
def format_address(address_string):
  # Declare variables
  house_number=' '
  street_name=" "

  # Separate the address string into parts
  x=address_string.split(" ")
  # Traverse through the address parts
  for y in x:
    if(y.isdigit()):
      house_number=y
    else:
      street_name+=y
      street_name+=' '
    # Determine if the address part is the
    # house number or part of the street name
 # Does anything else need to be done
  # before returning the result?

  # Return the formatted string
    return "house number {} on street named {}".format(house_number,street_name)
print(format_address("123 Main Street"))

house number 123 on street named

In [ ]:
def format_address(address_string):
  # Declare variables
  house_number=' '
  street_name=" "

  # Separate the address string into parts
  x=address_string.split(" ")
  # Traverse through the address parts
  for y in x:
    if(y.isdigit()):
      house_number=y
    else:
      street_name+=y
      street_name+=' '
    # Determine if the address part is the
    # house number or part of the street name
 # Does anything else need to be done
  # before returning the result?

  # Return the formatted string
    return "house number {} on street named {}".format(house_number,street_name)
print(format_address("1001 1st Ave"))
# Should print: "house number 1001 on street named 1st Ave"

house number 1001 on street named

In [ ]:
def format_address(address_string):
  # Declare variables
  house_number=' '
  street_name=" "

  # Separate the address string into parts
  x=address_string.split(" ")
  # Traverse through the address parts
  for y in x:
    if(y.isdigit()):
      house_number=y
    else:
      street_name+=y
      street_name+=' '
    # Determine if the address part is the
    # house number or part of the street name
 # Does anything else need to be done
  # before returning the result?

  # Return the formatted string
    return "house number {} on street named {}".format(house_number,street_name)

print(format_address("55 North Center Drive"))
# Should print "house number 55 on street named North Center Drive"

house number 55 on street named

## Done All?
## Great Job!