# Statements Assessment Test
Let's test your knowledge!

**use for loop to acess the given element of 2D list and print it**

In [ ]:
list2d = [[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [ ]:
#write your code here

list2d = [[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]
for i in range(len(list2d)):
    for j in range(len(list2d[i])):
       print(list2d[i][j],end=" ")

0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

**change the element in this 2d list. any kind of change you want is acceptable**

In [ ]:
#write your code here
list2d = [[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

print(list2d)
print(list2d[0][1])
list2d[0]= [1,1,1,1]
print(list2d)

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]
0
[[1, 1, 1, 1], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

_____
**Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':**

In [ ]:
st = 'Print only the words that start with s in this sentence'
for word  in st.split():
    if word[0] == 's':
        print(word)

start
s
sentence

In [ ]:
#Code here

______
**Use range() to print all the even numbers from 0 to 10.**

In [ ]:
#Code Here
lst = list(range(0,11,2))
print(lst)
#lst = list(range(1,11,2))--for odd number

[0, 2, 4, 6, 8, 10]

___
**Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.**

In [ ]:
#Code in this cell
mylist = [x for x in range(1,51) if x % 3 == 0]
print(mylist)
#tables

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

_____
**Go through the string below and if the length of a word is even print "even!"**

In [ ]:
st = 'Print every word in this sentence that has an even number of letters'
x = st.split()
print(x)

for word in x:
  if len(word)%2==0:
    print([word,'even!'])

    # print([word, 'odd!']) for odd

['Print', 'every', 'word', 'in', 'this', 'sentence', 'that', 'has', 'an', 'even', 'number', 'of', 'letters']
['word', 'even!']
['in', 'even!']
['this', 'even!']
['sentence', 'even!']
['that', 'even!']
['an', 'even!']
['even', 'even!']
['number', 'even!']
['of', 'even!']

In [ ]:
#Code in this cell

**write an example of do while loop,**

In [ ]:
#Code in this cell

i = 1
while True:
    print(i)
    i = i + 1
    if(i > 5):
        break

1
2
3
4
5

____
**Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".**

In [ ]:
#Code in this cell
for num in range(1,101):
    if num % 3 == 0 and num % 5 == 0:
        print("FizzBuzz: "+str(num))
    elif num % 3 == 0:
        print("Fizz:" +str(num))
    elif num % 5 == 0:
        print("Buzz:" +str(num))
    else:
        print(num)

1
2
Fizz:3
4
Buzz:5
Fizz:6
7
8
Fizz:9
Buzz:10
11
Fizz:12
13
14
FizzBuzz: 15
16
17
Fizz:18
19
Buzz:20
Fizz:21
22
23
Fizz:24
Buzz:25
26
Fizz:27
28
29
FizzBuzz: 30
31
32
Fizz:33
34
Buzz:35
Fizz:36
37
38
Fizz:39
Buzz:40
41
Fizz:42
43
44
FizzBuzz: 45
46
47
Fizz:48
49
Buzz:50
Fizz:51
52
53
Fizz:54
Buzz:55
56
Fizz:57
58
59
FizzBuzz: 60
61
62
Fizz:63
64
Buzz:65
Fizz:66
67
68
Fizz:69
Buzz:70
71
Fizz:72
73
74
FizzBuzz: 75
76
77
Fizz:78
79
Buzz:80
Fizz:81
82
83
Fizz:84
Buzz:85
86
Fizz:87
88
89
FizzBuzz: 90
91
92
Fizz:93
94
Buzz:95
Fizz:96
97
98
Fizz:99
Buzz:100

____
**Use List Comprehension to create a list of the first letters of every word in the string below:**

In [ ]:
st = 'Create a list of the first letters of every word in this string'
st = [word[0] for word in st.split()]
print(st)

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [ ]:
#Code in this cell

**Give an example of nested list comprehension**

In [ ]:
#Code in this cell
nested_list = [[1,2,3],[4,5,6],[7,8,9]]

new_list = [[x**2 for x in sublist] for sublist in nested_list]
print(new_list )

[[1, 4, 9], [16, 25, 36], [49, 64, 81]]

### Great Job!